{% extends "base.html" %}

{% block title %}Home - VentureVerse{% endblock %}

{% block content %}
    <h1>Welcome to VentureVerse</h1>
    <p>Your platform for connecting startups and job seekers in the tech industry.</p>

    <form method="post">
<!--        {% csrf_token %}-->
<!--        &lt;!&ndash; Include other form fields here if needed &ndash;&gt;-->
<!--        <button type="submit">Submit</button>-->
    </form>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        {% if user_data.selected_role %}
            <p>Your selected role: {{ user_data.selected_role }}</p>
        {% else %}
            <p>You haven't selected a role yet. <a href="{% url 'accounts-select_role' %}">Select your role</a></p>
        {% endif %}
    {% else %}
        <p><a href="{% url 'accounts-select_role' %}">Register</a> or <a href="{% url 'accounts-login' %}">Login</a></p>
    {% endif %}

{% endblock %}
